@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  }

  .dot { 
      animation: bounce 1s infinite ease-in-out; 
  }

  .dot:nth-child(2) { 
      animation-delay: 0.2s; 
  }

  .dot:nth-child(3) { 
      animation-delay: 0.4s
  }
  @keyframes rotate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes bounce {
      0%, 100% {
          transform: scale(1);
      }
      50% {
          transform: scale(0.6);
      }
  }

  .animate-rotate {
      animation: rotate 2s infinite linear;
  }

  .dot {
      animation: bounce 1s infinite ease-in-out;
  }

  .dot:nth-child(1) {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-delay: -0.6s;
  }

  .dot:nth-child(2) {
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      animation-delay: -0.4s;
  }

  .dot:nth-child(3) {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-delay: -0.2s;
  }

  .dot:nth-child(4) {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      animation-delay: 0s;
  }

  .dot:nth-child(5) {
      top: 12.5%;
      left: 87.5%;
      transform: translate(-50%, -50%);
      animation-delay: -0.5s;
  }

  .dot:nth-child(6) {
      top: 87.5%;
      left: 12.5%;
      transform: translate(-50%, -50%);
      animation-delay: -0.3s;
  }

  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-image: url('/static/img/background_4.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  overflow: scroll;
  }

  #signup-button {
      background-color: #5E3F31;
      border: 2px solid white;
  }
  #login-button {   
      background-color: #428E20;
      border: 2px solid white;
  }
  #login-button-mobile {
      background-color: #428E20;
      border: 2px solid white;
  }
  #signup-button-mobile {
      background-color: #5E3F31;
      border: 2px solid white;
  }
  #mobile-menu {
      background-color: #259c155e;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  #header {
  background-color: #05910ea1;
  border: 2px solid white;
  }
  #chat-history-title {
      background-color: #1E6914;
      width: 10rem;
  }
  #chat-history {
  background-color: #00532b5b;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  #login-alert {
      background-color: #259c155e;
  }
  form button {
  background-color: #5E3F31;
  border: 3px solid white;
  }
  #ai-response {
  background-color: #1e691467;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  #user-message {
  background-color: #0c64006c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  #bot-icon {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  #user-chat-head {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }

  #chat-history-content::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
  }
  #message::-webkit-scrollbar {
  display: none;
  }
  body::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
  }
  #chat-log::-webkit-scrollbar {
  display: none; /* This hides the scrollbar */
  }
  a {
      color: blue;
      text-decoration: underline;
  }